{% extends 'base_user.html' %}
{% block title %} Billing {% endblock %}
{% block content %}
    {% load template_filters %}

    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">

        <h2 class="mx-auto mt-8 max-w-6xl text-lg font-medium leading-6 text-gray-900">
            Billing</h2>
        <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-1 lg:grid-cols-1">
            <table class="min-w-full divide-y divide-gray-200">
                <thead>
                <tr>
                    <th class="bg-gray-50 px-6 py-3 text-left text-sm font-semibold text-gray-900"
                        scope="col">Date
                    </th>
                    <th class="bg-gray-50 px-6 py-3 text-left text-sm font-semibold text-gray-900"
                        scope="col">Amount
                    </th>
                    <th class="bg-gray-50 px-6 py-3 text-right text-sm font-semibold text-gray-900"
                        scope="col">Invoice
                    </th>
                </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                {% for invoice in invoices %}
                    <tr class="bg-white">
                        <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-900">
                            <span class="group inline-flex space-x-2 truncate text-sm">
                                </svg>
                                <p class="truncate text-gray-500 group-hover:text-gray-900">{{ invoice.created|convert_utcdatetime }}</p>
                            </span>
                        </td>
                        <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500">
                            <span class="truncate text-gray-500 group-hover:text-gray-900">{{ invoice.amount_paid|remove_leading_zeros:1 }}€</span>
                        </td>
                        <td class="whitespace-nowrap px-6 py-4 text-right text-sm text-gray-500">
                            <button class="inline-flex mt-4 bg-orange-600 text-white px-4 py-2 rounded items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor" class="mr-2 w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"/>
                                </svg>
                                <a target="_blank"
                                   href="{{ invoice.hosted_invoice_url }}">View invoice</a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}

                <!-- More transactions... -->
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
