{% extends 'base_user.html' %}
{% block content %}
    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
        <h2 class="mx-auto mt-8 max-w-6xl text-4xl font-medium leading-6 text-gray-900 text-center">
            Cancelled</h2>
        <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-1 lg:grid-cols-1">
            <div class="overflow-hidden rounded-lg bg-white justify-center">
                <div class="p-5">
                    <div class="flex flex-col items-center space-y-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-20 h-20 text-red-500">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>

                        <h3 class="text-xl font-medium">Your payment has been cancelled! 😭</h3>
                        <p class="text-md">You may retry to subscribe to <span class="text-orange-600 font-bold">elcompressor</span>
                            again.</p>
                        <button class="mt-10 bg-orange-600 text-white px-4 py-2 rounded hover:bg-orange-500"><a
                                href="{% url 'accounts:plans' %}">Try subscribing again</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
