<div class="py-3">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="bg-red-200 text-red-800 px-4 py-2 rounded">
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="text-sm">
        <form hx-post="{% url 'accounts:edit-password' %}" hx-target="#user-password">
            {% csrf_token %}
            <div>
                <label for="old_password">Old password</label>
                {{ form.old_password }}
            </div>
            <div class="mt-2">
                <label for="password1">New password</label>
                {{ form.new_password1 }}
            </div>
            <div class="mt-2">
                <label for="password2">Confirm new password</label>
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="mt-4 bg-orange-600 text-white px-4 py-2 rounded">Change password</button>
        </form>
    </div>

</div>

